body {
  margin: 0;
  background-color: #80B3FF;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

.heading-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 600px; /* Adjust the max width as needed */
  padding: 0 20px; /* Add horizontal padding to center content */
  box-sizing: border-box;
}

.heading-left,
.heading-right {
  margin-right: 10px;
}

